@font-face {
  font-family: "klavikaLight";
  src: url("../fonts/klavika-light-webfont.woff");
}
@font-face {
  font-family: "klavikaRegular";
  src: url("../fonts/klavika-regular-webfont.woff");
}
@font-face {
  font-family: "klavikaMedium";
  src: url("../fonts/klavika-medium-webfont.woff");
}
@font-face {
  font-family: "klavikaBold";
  src: url("../fonts/klavika-bold-webfont.woff");
}
body {
  margin: 0px;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  background-color: black;
}

#background {
  height: 100%;
  width: auto;
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  z-index: -1;
  left: 0%;
}
#background img {
  height: 100%;
}

.info {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  margin: 0;
}

.home #homeInfo {
  display: block;
}
.home #phraseBox {
  display: none;
}

#homeInfo {
  display: none;
  height: 85vh;
  width: 100vw;
}

.title {
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2% 2% 0 2%;
}

.footNote {
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 2% 2% 2%;
}

.phraseStyle {
  height: 85vh;
  margin: 0;
  font-family: "klavikaLight";
  letter-spacing: 2px;
  color: white;
  font-size: 34px;
  letter-spacing: 1px;
  text-decoration: underline;
}

#phraseBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 6% 0 6%;
  height: 85vh;
}

.fa-chevron-left {
  font-size: 35px;
  color: white;
}

.fa-chevron-right {
  font-size: 35px;
  color: white;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

p {
  font-family: "klavikaLight";
  color: white;
  font-size: 9px;
}

.fa-facebook-f {
  color: white;
  font-size: 9px;
}

.fa-twitter {
  color: white;
  font-size: 9px;
}

.fa-envelope {
  color: white;
  font-size: 9px;
}

.arrows {
  height: 85vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

#boxLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2% 0 2%;
}

#boxRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2% 0 2%;
}

#buttonRight {
  display: block;
}

#buttonLeft {
  display: none;
}

footer {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .logo {
  width: 5%;
  height: auto;
  margin: 0 2% 0 2%;
}
footer .logo img {
  width: 100%;
  filter: invert(100%);
}

.whatScreen {
  width: auto;
  height: 10%;
  margin: 0 2% 0 2%;
  border: 2px white dotted;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.whatScreen #box {
  height: 100%;
  width: 16px;
  border-right: 2px white dotted;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatScreen #box #innerbox {
  height: 95%;
  width: 90%;
}
.whatScreen .last {
  height: auto;
  width: 16px;
}

#first {
  height: 100%;
  width: 16px;
  border-right: 2px white dotted;
}

#dynamic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#final {
  display: none;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
}
#final .finalBox {
  margin: 2% 2% 0 0;
  height: 50%;
}

.cont {
  display: flex;
  justify-content: flex-end;
  height: 50%;
}
.cont p {
  text-align: right;
}

.adj {
  margin-top: 20%;
}
.adj a {
  color: white;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
}
.social .socialBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  margin: 0 2% 0 2%;
}
.social .socialBox a {
  text-decoration: none;
}
.social .socialBox div {
  display: flex;
  height: 100%;
  align-items: center;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#loading div {
  width: auto;
  height: auto;
}
#loading .imgBoxOut {
  width: 80%;
  height: auto;
  position: relative;
}
#loading .imgBoxOut img {
  width: 100%;
}

.imgText {
  display: flex;
  justify-content: center;
}
.imgText .text {
  margin-top: 20%;
}

.text p {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
.imgBox {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}
#hide {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
